.header{
    width: 100%;
    background-image: linear-gradient( 109.6deg,  rgb(65, 201, 226) 11.2%, rgba(110,123,251,1) 91.1% );
}
img{
    margin: 10px;
    width: 5%;
}
.wraper{
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border: 1px solid #9bb2b6;
}
h5{
    text-align: center;
    padding-top: 10px;
}
.container-btn{
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #41C9E2;
    border-color: #41C9E2;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #2a99b8;
    border-color: #2a99b8;
    color: #ffffff;
}

.required{
    color: red;
}